*{
    margin: 0;
    padding: 0;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(0, 152, 179);
    padding: 20px;
   
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
  
    text-align: center ;

}
a:hover {
    color:rgb(0, 0, 0);              
    text-decoration: underline; 
  }

h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;    
}

h2 {
    text-align: center;
    margin: 40px 20px;
    font-size: 1.5rem; 
    text-decoration: underline;   
}
.presentation li{
    text-align: left;
    margin: 20px;
    font-size: 1.1rem;
    list-style: none;  
    text-align: center;
}
.presentation p {
    text-align: center;
    margin: 20px;
    font-size: 1.1rem; 
      
}

.images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px;
    gap: 100px;
}

.services a {
    margin: 20px;
    font-size: 1.2rem;
    list-style: none;  
    color: black;
    text-decoration: none;
}
.services a:hover{
    color:rgb(0, 106, 204);              
    text-decoration: underline; 
}
.services{
    display: flex;
    flex-direction: column;    
    align-items: center
 
}
.horaires{
    display: flex;
    flex-wrap: wrap;    
    justify-content: center
}
.horaires li{
    margin: 20px;
    font-size: 1.1rem;
    list-style: none;
    font-weight: bold;
}

.btnRdv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
.btn button{
    background-color: rgb(0, 152, 179);
    color: white;
    font-size: 1.3rem;
    padding: 30px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn button:hover{
    background-color: rgb(18, 0, 208);
    color: white;
    font-size: 1.3rem;
    padding: 30px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.listeServices{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px; 
}
.listeServices h2{
 font-size: 2rem ;
}
.listeServices a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    margin: 10px;
    font-weight: bold;
}
.listeServices a:hover{
    color:rgb(0, 106, 204);              
    text-decoration: underline; 
}

.datailService{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px; 
    font-size: 1.2rem;
}





















footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 152, 179);
    padding: 20px;
    color: white;
    font-size: 1.2rem;
}


